.container{
    border: 1px solid black;
    padding: 50px;
    width: 650px;
    margin: 0 auto;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    text-align: justify;
}
.area{
    grid-column: 1/3;
    margin: 0 auto;
}
.area label{
    display: block;
    text-align: center;
    margin: 20px 0;
}

input{
    width: 130px;
}

#enviar{
    margin: 20px auto;
    grid-column: 1/3;
}
h1{
    text-align: center;
}